Source: mauikit-git
Section: unknown
Priority: optional
Maintainer: kaimam <kaisfm@sohu.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://anongit.kde.org/mauikit.git
#Vcs-Browser: https://anongit.kde.org/mauikit.git

Package: mauikit-git
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Multi-Adaptable UserInterfaces for Linux and Android Apps.
 Kit for developing MAUI Apps
